.loginbox{
    width: 435px;
    height: 740px;
    background: #051923;
    color: #fff;
    top: 73%;
    left: 70%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    /* border-radius: 20px; */
}
.loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.loginbox input[type="text"],input[type="password"],input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
    /* animate */
    transition: all 0.5s ease-in-out;
}
.loginbox input[type="text"],input[type="password"],input[type="email"]:focus{
    border-bottom: 1px solid #ffc107;
}


.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #ee4266;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.signup{
    margin-left: 100px;
    color: #fff;
    font-size: 16px;
    display: flex;
}
.signup a{
    text-decoration: none;
    color: #ffc107;
}
.signup p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}
.signup-btn{
    width: auto;
    margin-bottom: 20px;
    background-color: #fb2525;
    border: none;
    outline: none;
    height: auto;
    background: #fb2525;
    color: #fff;
    font-size: 12px;
    /* border-radius: 20px; */
    margin: 0px 0px 0px 0px;
  
}

.images img{
    width: 100%;
    height: 730px;
    margin: -66px 0px 0px  10px;
    
    
}
.images{
    width: 380px;
    height: 740px;
    margin: 391.5px 0px 0px 568px;
    background: #051923; 
    color: #fff;
    /* top: 73%; */
    left: 40%;
    /* position: absolute; */
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px 0px 0px;
    /* border-radius: 20px; */
}
/* animate when cursor on input */
.loginbox input[type="text"],input[type="email"]:focus{
    border-bottom: 1px solid #ffc107;
  
}
.helptext{
    color: #fff;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
   visibility: hidden;
}
::marker{
    color: #fff;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
   visibility: hidden !important;
}
 li ::marker ul li{
    text-decoration: none;

}
