
{% load static %}
{% include 'header.html' %}
{% block css%}
<link href="../static/style/style.css" rel="stylesheet">
{% endblock %}

        <!-- Search Start -->
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <div class="container">
                <form id="jobSearchForm" method="get" action="{% url 'home' %}">
                    <div class="row g-2">
                        <div class="col-md-10">
                            <div class="row g-2">
                                <div class="col-md-4">
                                    <input type="text" class="form-control border-0" name="q" placeholder="Keyword"
                                        value="{{ request.GET.q }}" />
                                </div>
                                <div class="col-md-4">
                                    <select class="form-select border-0" name="sort">
                                        <option value="" disabled selected>Sort by</option>
                                        <option value="experience_asc">Experience (Ascending)</option>
                                        <option value="experience_desc">Experience (Descending)</option>
                                        <option value="salary_asc">Salary (Ascending)</option>
                                        <option value="salary_desc">Salary (Descending)</option>
                                        <option value="posted_on_asc">Posted On (Ascending)</option>
                                        <option value="posted_on_desc">Posted On (Descending)</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-select border-0" name="location">
                                        <option value="" disabled selected>Location</option>
                                        <option value="Bengalore">Bengalore</option>
                                        <option value="Mumbai">Mumbai</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Chennai">Chennai</option>
                                        <option value="Kolkata">Kolkata</option>
                                        <option value="Lucknow">Lucknow</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-dark border-0 w-100">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Search End -->


        <!-- Category Start -->

        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
              
                <div class="row g-4">
                    {%for cats in category %}
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="{% url 'web_dev' cat=cats.category %}">
                            <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
                            <h6 class="mb-3">{{ cats.category}}</h6>
                        </a>
                    </div>
                    {% endfor %}
                </div>
           
            </div>
        </div>
        <!-- Category End -->



        <!-- Jobs Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Latest Jobs</h1>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                                href="">
                                <h6 class="mt-n1 mb-0">Featured</h6>
                            </a>
                        </li>
                    </ul>
                    {% for job in jobs %}
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded"
                                            src="{{job.recruiter.logo.url}}" alt="" style="width: 80px; height: 80px;">
                                        <div class="text-start ps-4">
                                            <h4 class="mb-3">{{job.title}}</h4>
                                            <h5 class="mb-3">{{job.recruiter.company_name}} </h5>
                                            <span class="text-truncate me-3"><i
                                                    class="fa fa-map-marker-alt text-primary me-2"></i>{{job.location}}
                                            </span>
                                            <span class="text-truncate me-3">
                                                <i class="far fa-clock text-primary me-2"></i>{{job.job_type}}</span>
                                            <span class="text-truncate me-0"><i
                                                    class="far fa-money-bill-alt text-primary me-2"></i>{{job.ctc}}
                                            </span>
                                            <span class="text-truncate me-0">
                                                <i class="fas fa-solid fa-user-graduate text-primary me-2"
                                                    style="padding-left: 12px ;"></i>{{job.experience}}
                                            </span>

                                        </div>
                                    </div>

                                    <div
                                        class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            {% if  job in saved %}
                                            <a class="btn btn-light btn-square me-3" href="{% url 'save_job' job.pk %}">
                                                <i class="fas fa-heart text-danger"></i>
                                            </a>
                                        {% else %}
                                            <a class="btn btn-light btn-square me-3" href="{% url 'save_job' job.pk %}">
                                                <i class="far fa-heart text-primary"></i>
                                            </a>
                                        {% endif %}
                                            <a class="btn btn-primary" href="{% url 'job_detail' job.pk %}">Apply
                                                Now</a>
                                        </div>
                                        <small class="text-truncate"><i
                                                class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan,
                                            2045</small>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <a class="btn btn-primary py-3 px-5" href="{% url 'jobs' %}">Browse More Jobs</a>
                        </div>
                        <!--  -->
                    </div>
                </div>
            </div>
            <!-- Jobs End -->

</div>
<div class="footer" style="  margin-right: 0rem !important ;">
            {% include 'footer.html'%}
        </div>

</body>

</html>