<ul>
<li>
<a href="{% url 'updateApplicant' %}">Edit Profile</a>
</li>
<li>
    <a href="">Add Skill</a>

    </li>
    <li>
<a href="{% url 'add_education'  %}">Add Education</a>
</li>
<li>
    <a href="{% url 'update_education' education.pk %}">Update Education</a>
    </li>
<li>
    <a href="{% url 'add_project'  %}">Update Project</a>
    </li>
    <li>
        <a href="">Edit Project</a>
        </li>
        <li>
            <a href="">Other Info</a>
            </li>
            <li>
                <a href="">Settings</a>
                </li>
</ul>