{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'style/welcome.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar">
    <div class="nav-title">Hire</div>
    <div class="nav-content">
        <div class="nav-items">
            <div class="nav-item"><a href="{% url 'home' %}">Home</a></div>
            <div class="nav-item"><a href="{% url 'about' %}">About us</a></div>
            <!-- <div class="nav-item"><a href="{% url  'login' %}">Login</a></div>
        <div class="nav-item"><a href="{% url 'signup' %}">Sign up</a></div> -->
            <div class="nav-item"><a href="{% url 'logout' %}">Logout</a></div>
        </div>
   
    </div>
</nav>
<div class="container">
    <h1>Welcome Recruiter {{user.profile.recruiter.company_name}} !</h1>

</div>
{% endblock %}